html {
	height: 100%;
}
body {
	height: calc(100% - 90px);
	overflow: hidden;
}

main {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	margin-top: 90px;
}

/* first login setup */

.first-login-setup {
	display: none; /* hidden by default */
	position: absolute;
	width: 100%;
	height: calc(100% - 90px);
	align-items: center;
	justify-content: center;
	background-color: #00000063;
	z-index: 99999;
	opacity: 1;
	transition: opacity 0.3s;
}

.setup-dialog {
	width: 55%;
	height: 83%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 12px 3px #0000004d;
}

.dialog-heading {
	display: flex;
	padding: 20px 25px;
	font-size: 25px;
	background-color: #5b39b8;
	color: #fff;
	border-radius: 20px 20px 0 0;
}

.dialog-content {
	display: flex;
	height: calc(100% - 73.6px);
}

.step-details {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: calc(40% - 40px);
	height: calc(100% - 40px);
	padding: 20px;
	font-size: 30px;
	background-color: #e7ebed;
	border-bottom-left-radius: 20px;
}
.step-details span {
	opacity: 1;
	transition: opacity 0.3s;
}
.step-details:not(.sls-step-details) {
	/* all step details except SLS hidden at first */
	display: none;
}

.config-area {
	position: relative;
	display: inline-block;
	width: calc(60% + 40px);
	padding: 30px;
}

.progress-indicator {
	position: relative;
	width: calc(100% - 100px);
	height: 10px;
	margin: 20px auto;
	background-color: #e7ebed;
}
.progress-indicator-completed {
	display: block;
	position: absolute;
	left: 2px;
	width: calc(33% + 5px);
	height: 10px;
	background-color: #5b39b8;
	border-radius: 99999px;
	transition: width 1s;
}

.progress-circle {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 30px;
	height: 30px;
	top: -10px; /* centering */
	border-radius: 50%;
	background-color: #e7ebed;
	transition: background-color 0.3s;
}
.progress-circle-completed {
	background-color: #5b39b8;
}
.progress-circle p {
	margin-top: 37px;
	white-space: nowrap;
	font-size: 13px;
	text-align: center;
}
#progress-circle-1 {
	left: -13px;
}
#progress-circle-2 {
	left: calc(33% - 13px);
}
#progress-circle-3 {
	left: calc(66% - 13px);
}
#progress-circle-4 {
	left: calc(99% - 13px);
}

.config-action-area {
	margin-top: 110px;
	opacity: 1;
	transition: opacity 0.3s;
}
.config-action-area:not(.sls-setup) {
	/* all config action areas except SLS hidden at first */
	display: none;
}

.action-area-heading {
	font-size: 20px;
}

.error {
	display: none; /* hidden by default */
	margin-top: 10px;
	margin-bottom: 20px;
	color: red;
}

/* SLS integration */

form {
	position: relative;
	margin-top: 15px;
	text-align: center;
}

form * {
	font-family: inherit;
}

input {
	border-radius: 999999px;
	margin-top: 5px;
	padding: 9px 13px;
	font-size: 15px;
	border: 1.5px solid lightgrey;
	width: calc(50% - 40px);
}

input, #login-button {
	outline: none;
}

input:focus {
	border: 1.5px solid #5b39b8;
	transition: border 0.2s ease-in-out;
}

.login-button-loading {
	background-color: grey !important;
	color: grey !important; /* effectively hides text */
}

.login-button-success {
	background-color: #12b59f !important;
}
.login-button-success:hover, .login-button-success:focus {
	box-shadow: none !important;
}

#login-button {
	position: relative;
	width: 236px;
	color: white;
	margin-top: 10px;
	padding: 10px 0;
	font-size: 19px;
	border: none;
	border-radius: 999999px;
	background-color: #5b39b8;
	transition: background-color 0.2s, box-shadow 0.2s;
	user-select: none;
}

#login-button:hover, #login-button:focus {
	background-color: #5333a8;
	box-shadow: 0 3px 6px #5b39b873;
}

#login-button:active {
	background-color: #412a81;
}
@media screen and (max-width: 1499px){
	.intro {
		width: calc(60% - 1px);
	}
}

.loading-circle-wrapper {
	width: 80px;
	opacity: 0;
	transition: opacity 0.5s;

	/* center items */
	display: flex;
	align-items: center;
	justify-content: center;

	/* center self */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loading-circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	z-index: 999;

	/* animation */
	animation-name: grow;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes grow {
	from {
		width: 10px;
		height: 10px;
	}
	to {
		width: 20px;
		height: 20px;
	}
}

#loading-circle-1 {
	animation-delay: 0s;
}

#loading-circle-2 {
	animation-delay: 0.2s;

	margin-left: 10px;
	margin-right: 10px;
}

#loading-circle-3 {
	animation-delay: 0.4s;
}

.next-button {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 20%;
	margin-left: 10px;
	padding: 10px;
	border-radius: 99999999px;
	border: 2px solid #5b39b8;
	background-color: #fff;
	font-size: 17px;
	font-family: inherit;
	outline: none;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.next-button:hover:not(:disabled), .next-button:focus:not(:disabled) {
	background-color: #5333a8;
	box-shadow: 0 3px 6px #5b39b873;
}
.next-button:disabled {
	background-color: rgba(0, 0, 0, 0.103);
}
.next-button:not(:disabled) {
	cursor: pointer;
	background-color: #5b39b8;
	color: #fff;
}

/* Google Classroom integration */

.classroom-authorise-button {
	width: 172px;
	margin-top: 23px;
	padding: 10px;
	border-radius: 99999999px;
	background-color: #5b39b8;
	color: #fff;
	font-size: 17px;
	font-family: inherit;
	border: 2px solid #5b39b8;
	outline: none;
	transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}
.classroom-authorise-button:not(:disabled) {
	cursor: pointer;
}
.classroom-authorise-button:hover,
.classroom-authorise-button:focus {
	background-color: #5333a8;
	box-shadow: 0 3px 6px #5b39b873;
}
.classroom-authorise-button-success {
	background-color: #12b59f !important;
	border: 2px solid #12b59f !important;
}
.classroom-authorise-button-success:hover,
.classroom-authorise-button-success:focus {
	box-shadow: none !important;
}

/* setup completed panel */

.setup-complete {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - 140px);
}

.setup-complete-tick {
	width: 17vh;
	margin: 20px 0;
}

.setup-complete-heading {
	font-size: 25px;
}

.setup-complete-close-button {
	margin-top: 20px;
	padding: 10px 40px;
	border-radius: 99999999px;
	background-color: #5b39b8;
	color: #fff;
	font-size: 17px;
	font-family: inherit;
	border: 2px solid #5b39b8;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
}
.setup-complete-close-button:hover,
.setup-complete-close-button:focus {
	background-color: #5333a8;
	box-shadow: 0 3px 6px #5b39b873;
}

/* PANELS */

.outstanding-work {
	background-color: #5b39b8;
}
.outstanding-work::before {
	background-image: linear-gradient(110deg, #5b39b8 59%, #4b2d9c 59.1%);
}

.announcements {
	left: 50%;
	background-color: #12b59f;
}
.announcements::before {
	background-image: linear-gradient(110deg, #12b59f 59%, #11a08d 59.1%);
}
.announcement {
	color: #288277;
}

.events {
	top: calc(50% + 45px);
	background-color: #fd812e;
}
.events::before {
	background-image: linear-gradient(110deg, #fd812e 59%, #eb6d1a 59.1%);
}
.event {
	color: #b0591f;
}

.cip-discipline {
	left: 50%;
	top: calc(50% + 45px);
	background-color: #fd412e;
}
.cip-discipline::before {
	/* special 50% - half CIP, half discipline */
	background-image: linear-gradient(110deg, #fd412e 50%, #e43420 50.1%);
}

.panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(50% - 76px);
	height: calc(50% - 115px);
	padding: 35px 38px;
	color: #fff;
	transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s, box-shadow 0.3s;
	cursor: pointer;
}

.panel-new {
	height: calc(100% - 115px);
}

.panel:hover {
	z-index: 99999;
	box-shadow: 0 0 12px 3px #0000004d;
}
.panel::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s;
}
.panel::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	background-image: url("../img/expand-triangle.svg");
	opacity: 1;
	transition: opacity 0.5s;
}

.panel-name {
	font-size: 60px;
	margin-bottom: 17px;
}

.panel-subtitle {
	font-size: 30px;
	transition: margin-bottom 0.3s;
}
.cip-discipline .panel-subtitle:nth-child(2) {
	margin-bottom: 0; /* because CIP panel has 2nd subtitle */
}

.panel .panel-name, .panel .panel-subtitle {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	transition: width 0.3s;
}

.panel-expanded {
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 90px;
	width: calc(100% - 76px);
	height: calc(100% - 160px);
}
/* > is to exclude CIP/Discipline half-panel names */
.panel-expanded .panel-name, .panel-expanded .panel-subtitle {
	width: 0;
}
.panel-expanded .panel-subtitle {
	margin-bottom: 35px;
}
.panel-expanded::before {
	opacity: 1;
}
.panel-expanded::after {
	opacity: 0;
}

.panel-content {
	width: 50%;
	height: 0;
	pointer-events: none;
	opacity: 0;
	transition: height 0.3s, opacity 0.3s;
}
.panel-expanded .panel-content {
	height: 355px;
	pointer-events: auto;
	opacity: 1;
}

.view-more {
	display: none;
	height: 0;
	font-size: 25px;
	margin-bottom: 25px;
	color: #fff;
	opacity: 0;
	transition: height 0.3s, opacity 0.3s;
}
.view-more:hover {
	color: #d8d8d8;
}
.panel-expanded .view-more {
	display: block;
}

.collapse-message {
	display: none;
	font-size: 20px;
}
.panel-expanded .collapse-message {
	display: block;
}

.link-to-page {
	position: absolute;
	right: 50px;
	width: 33vw; /* width remains constant, no word wrap jumping */
	color: white;
	font-size: 65px;
	text-align: right;
	opacity: 0; /* hide */
	transition: opacity 0.3s;

	/* deactivate link when panel not expanded */
	z-index: -999999;
	pointer-events: none;
}
.link-to-page:hover {
	color: #d8d8d8;
}
.link-to-page::after {
	content: "";
	display: block;
	float: right;
	height: 70px;
	width: 100%; /* take up new line */
	margin-top: 18px;
	background-image: url("../img/right-arrow-white-70px.png");
	background-position: right;
	background-repeat: no-repeat;
}
.link-to-page:hover::after {
	background-image: url("../img/right-arrow-grey-70px.png");
}
.panel-expanded .link-to-page {
	opacity: 1;

	/* make link clickable */
	z-index: 1;
	pointer-events: auto;
}

.list-card {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 17px;
	border-radius: 10px;
	line-height: 37px;
	background-color: #fff;
}
@media screen and (max-height: 768px) {
	.list-card {
		padding: 10px 13px;
		line-height: 32px;
	}
}

.list-card-text {
	font-size: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
	.list-card-text {
		font-size: 21px;
	}
}

.list-card-details {
	font-size: 18px;
}
@media screen and (max-width: 768px) {
	.list-card-details {
		font-size: 17px;
	}
}

/* special stuff for CIP/Discpline panel */

/* hide original "CIP & Discipline" panel title */
/* > is to go only one level deep, doesn't target half-panel > panel-name */
.cip-discipline > .panel-name,
.cip-discipline .panel-subtitle {
	transition: opacity 0.3s;
}

.cip-discipline.panel-expanded > .panel-name,
.cip-discipline.panel-expanded .panel-subtitle {
	opacity: 0;
}

.half-panel {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 37%;
	height: calc(100% - 120px);
	top: 60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.panel-expanded .half-panel {
	opacity: 1;
}

.cip {
	left: 60px;
}

.cip .collapse-message {
	position: absolute;
	bottom: 65px;
}

.discipline {
	right: 60px;
}

.large-number {
	font-size: 170px;
	margin-top: 20px;
}

.button-page-link {
	width: max-content;
	margin-top: 59px;
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;
	background-color: #fff;
	color: #c51d0c;

	/* deactivate link when panel not expanded */
	z-index: -999999;
	pointer-events: none;
}
.button-page-link::after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-bottom: -2px;
	background-image: url("../img/right-arrow-red-30px.png");
}
.panel-expanded .button-page-link {
	z-index: 1; /* make link clickable */
	pointer-events: auto;
}
