html {
	height: 100%;
}
body {
	height: calc(100% - 90px);
	overflow: hidden;
}

main {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	margin-top: 90px;
}

.outstanding-work {
	background-color: #5b39b8;
}
.outstanding-work::before {
	background-image: linear-gradient(110deg, #5b39b8 59%, #4b2d9c 59.1%);
}

.announcements {
	left: 50%;
	background-color: #12b59f;
}
.announcements::before {
	background-image: linear-gradient(110deg, #12b59f 59%, #11a08d 59.1%);
}
.announcement {
	color: #288277;
}

.events {
	top: calc(50% + 45px);
	background-color: #fd812e;
}
.events::before {
	background-image: linear-gradient(110deg, #fd812e 59%, #eb6d1a 59.1%);
}
.event {
	color: #b0591f;
}

.cip-discipline {
	left: 50%;
	top: calc(50% + 45px);
	background-color: #fd412e;
}
.cip-discipline::before {
	/* special 50% - half CIP, half discipline */
	background-image: linear-gradient(110deg, #fd412e 50%, #e43420 50.1%);
}

.panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(50% - 76px);
	height: calc(50% - 115px);
	padding: 35px 38px;
	color: #fff;
	transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s, box-shadow 0.3s;
	cursor: pointer;
}

.panel-new {
	height: calc(100% - 115px);
}

.panel:hover {
	z-index: 99999;
	box-shadow: 0 0 12px 3px #0000004d;
}
.panel::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s;
}
.panel::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	background-image: url("../img/expand-triangle.svg");
	opacity: 1;
	transition: opacity 0.5s;
}

.panel-name {
	font-size: 60px;
	margin-bottom: 17px;
}

.panel-subtitle {
	font-size: 30px;
	transition: margin-bottom 0.3s;
}
.cip-discipline .panel-subtitle:nth-child(2) {
	margin-bottom: 0; /* because CIP panel has 2nd subtitle */
}

.panel .panel-name, .panel .panel-subtitle {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	transition: width 0.3s;
}

.panel-expanded {
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 90px;
	width: calc(100% - 76px);
	height: calc(100% - 160px);
}
/* > is to exclude CIP/Discipline half-panel names */
.panel-expanded .panel-name, .panel-expanded .panel-subtitle {
	width: 0;
}
.panel-expanded .panel-subtitle {
	margin-bottom: 35px;
}
.panel-expanded::before {
	opacity: 1;
}
.panel-expanded::after {
	opacity: 0;
}

.panel-content {
	width: 50%;
	height: 0;
	pointer-events: none;
	opacity: 0;
	transition: height 0.3s, opacity 0.3s;
}
.panel-expanded .panel-content {
	height: 355px;
	pointer-events: auto;
	opacity: 1;
}

.view-more {
	display: none;
	height: 0;
	font-size: 25px;
	margin-bottom: 25px;
	color: #fff;
	opacity: 0;
	transition: height 0.3s, opacity 0.3s;
}
.view-more:hover {
	color: #d8d8d8;
}
.panel-expanded .view-more {
	display: block;
}

.collapse-message {
	display: none;
	font-size: 20px;
}
.panel-expanded .collapse-message {
	display: block;
}

.link-to-page {
	position: absolute;
	right: 50px;
	width: 33vw; /* width remains constant, no word wrap jumping */
	color: white;
	font-size: 65px;
	text-align: right;
	opacity: 0; /* hide */
	transition: opacity 0.3s;

	/* deactivate link when panel not expanded */
	z-index: -999999;
	pointer-events: none;
}
.link-to-page:hover {
	color: #d8d8d8;
}
.link-to-page::after {
	content: "";
	display: block;
	float: right;
	height: 70px;
	width: 100%; /* take up new line */
	margin-top: 18px;
	background-image: url("../img/right-arrow-white-70px.png");
	background-position: right;
	background-repeat: no-repeat;
}
.link-to-page:hover::after {
	background-image: url("../img/right-arrow-grey-70px.png");
}
.panel-expanded .link-to-page {
	opacity: 1;

	/* make link clickable */
	z-index: 1;
	pointer-events: auto;
}

.list-card {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 17px;
	border-radius: 10px;
	line-height: 37px;
	background-color: #fff;
}
@media screen and (max-height: 768px) {
	.list-card {
		padding: 10px 13px;
		line-height: 32px;
	}
}

.list-card-text {
	font-size: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
	.list-card-text {
		font-size: 21px;
	}
}

.list-card-details {
	font-size: 18px;
}
@media screen and (max-width: 768px) {
	.list-card-details {
		font-size: 17px;
	}
}

/* special stuff for CIP/Discpline panel */

/* hide original "CIP & Discipline" panel title */
/* > is to go only one level deep, doesn't target half-panel > panel-name */
.cip-discipline > .panel-name,
.cip-discipline .panel-subtitle {
	transition: opacity 0.3s;
}

.cip-discipline.panel-expanded > .panel-name,
.cip-discipline.panel-expanded .panel-subtitle {
	opacity: 0;
}

.half-panel {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 37%;
	height: calc(100% - 120px);
	top: 60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.panel-expanded .half-panel {
	opacity: 1;
}

.cip {
	left: 60px;
}

.cip .collapse-message {
	position: absolute;
	bottom: 65px;
}

.discipline {
	right: 60px;
}

.large-number {
	font-size: 170px;
	margin-top: 20px;
}

.button-page-link {
	width: max-content;
	margin-top: 59px;
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;
	background-color: #fff;
	color: #c51d0c;

	/* deactivate link when panel not expanded */
	z-index: -999999;
	pointer-events: none;
}
.button-page-link::after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-bottom: -2px;
	background-image: url("../img/right-arrow-red-30px.png");
}
.panel-expanded .button-page-link {
	z-index: 1; /* make link clickable */
	pointer-events: auto;
}
