.navi{
    position: fixed;
    top: 91px;
    height: calc(100% - 91px);
    display: block;   
    background-color: #fd432e40;
    width: 16%;
    text-align: center;
    padding: 12px 30px;
}
.navi a{
    display: block;
    padding: 8px 16px;
    margin-top: 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #fd432e;
    background: linear-gradient(60deg, #fff, 50%, #fd432e 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.navi a::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(60deg, #fd432e 50%, #fff 50%);
    z-index: -1;
}
.navi a, .navi a::after{
    background-size: 300%;
    background-position: 100%;
    transition: background-size .3s, background-position .3s;
}
.navi a:hover, .navi a:hover::after, .navi a.selected, .navi a.selected::after{
    background-position: 0;
}