/* tags */
h2 {
  font-weight: normal;
}

/* content */
.content {
  margin-left: calc(16% + 60px); /* same as navbar */
  padding: 10px 25px;
}

img.icon {
  width: 1em;
  vertical-align: middle;
  margin-left: 5px;
}
.heading{
  font-size: 3.9em;
  font-weight: normal;
}
.number{
  font-size: 150px;
}
@media screen and (max-width: 1499px){
  .heading{
    font-size: 3.3em;
  }
  .number{
    font-size: 120px;
  }
}