/* tags */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: white;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
}

/* header */
.header {
	background-color: white;
	color: black;
	padding: 0px 60px 0px 100px;
}
.header .name {
	padding-top: 30px;
	padding-bottom: 25px;
	font-size: 50px;
	display: inline-block;
}
.header .user {
	padding-top: 30px;
	padding-bottom: 25px;
	margin-top: 5px;
	float: right;
}
.header .user .icon-notification {
	position:absolute;
	top:30px;
	right:90px;
	font-size:13px;
	padding: 7px;
	background:red;
	color:white;
	width:15px;height:15px;
	text-align:center;
	line-height:18px;
	border-radius:50%;
	box-shadow:0 0 1px #333;
	z-index: 999;
}
.header .user .icon {
	display: inline-block;
	margin-right: 40px;
	height: 53px;
	border-radius: 50%;
	cursor: pointer;
}
.header .user .icon:hover {
	width: 49px;
	height: 47px;
	border: 3px solid lightgrey;
}

/* main */
main {
	margin-top: 10px;
	text-align: center;
}
.columns {
	background-color: white;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	margin: 12px;
	padding: 24px;
	border-radius: 12px;
}
.columns:hover{
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}
.columns:hover div img{
	transition: all .15s ease-in-out;
}
.columns:hover div img{
	transform: scale(1.2);
}
.container {
	height: 445px;
	margin: auto;
	margin-bottom: 12px;
	position: relative;
	text-align: center;
}
.content {
	text-align: center;
	margin-top: 50px;
}
.cheader {
	font-size: 20px;
	text-align: center;
	text-decoration: italic;
	color: #bbb;
	position: relative;
	top: -40px;
}
ul {
	padding-left: 0px;
}
ul li a{
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	color: #848484;
	transition: all .15s ease-in-out;
}
ul li:hover a{
	color: #161616;
	font-size: 25px;
}
.mid{
	padding-top: 50px;
	height: 200px;
	width: 250px;
	margin-bottom: 15px;
}
.mid img {
	display: block;
	margin: auto;
	transition: .1s transform ease-in-out;
}

