/* tags */
html, body {
	height: 100%;
}
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: white;
}
h1 {
	margin-top: 0;
	font-size: 4em;
	font-weight: normal;
}
@media screen and (max-width: 1499px) {
	h1 {
		font-size: 3.3em;
	}
}
ul, li {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #797979;
}

/* header */
.header {
	position: sticky;
	top: 0;
	height: 123px;
	background-color: white;
	color: black;
	padding: 0px 60px;
	border-bottom: 1px solid grey;
	z-index: 999;
}
.header .name {
	padding-top: 30px;
	padding-bottom: 25px;
	font-size: 50px;
	display: inline-block;
}
.header .user {
	padding: 15px;
	margin-top: 30px;
	float: right;
	border: 1px solid black;
	border-radius: 10px;
}
/*
.header .user .icon-notification {
	position:absolute;
	top:30px;
	right:90px;
	font-size:13px;
	padding: 7px;
	background:red;
	color:white;
	width:15px;height:15px;
	text-align:center;
	line-height:18px;
	border-radius:50%;
	box-shadow:0 0 1px #333;
	z-index: 999;
}
*/

.header .user .username {
	display: none;
}
@media screen and (min-width: 1500px) {
	.header .user .username {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}
}
.header .user .icon {
	display: inline-block;
	vertical-align: middle;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
	box-sizing: border-box;
}
.header .user .icon:hover {
	box-shadow: 0 0 0 3px lightgray;
}
.header .header-item {
	position: absolute;
	/* display: inline-block; */
	top: calc(50% - 0.5em);
	margin-left: 5%;
	font-size: 25px;
}
.header .outstanding-work-navlink { margin-left: 5%; }
.header .school-matters-navlink { margin-left: calc(5% + 275px); }
.header .message-board-navlink { margin-left: calc(5% + 550px); }
.disclosure-triangle {
	font-size: 16px;
}

/* main */
main {
	height: calc(100% - 124px);
	position: relative;
}

.homework-item, .view-more {
	line-height: 2;
	font-size: 40px;
}

.view-more {
	display: inline-block;
	color: gray;
	margin-top: 4px;
}

.link-to-page {
	position: absolute;
	display: inline-block;
	top: 25%;
	right: 5%;
	width: 30%;
	text-align: right;
	color: white;
	font-size: 70px;
}
@media screen and (max-width: 1499px) {
	.link-to-page {
		font-size: 60px;
	}
}

.outstanding-work {
	background: linear-gradient(70deg, white 60%, rgb(91, 57, 184) 60.1%);
}

.announcements {
	background: linear-gradient(110deg, white 60%, green 60.1%);
}

.panel {
	height: calc(100% - 120px);
	position: relative;
	padding: 60px;
}
.panel .gradient-protector {
	width: 54%;
}

ul {
	padding-left: 0px;
}
ul li a{
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	color: #848484;
	transition: all .15s ease-in-out;
}
ul li:hover a{
	color: #161616;
	font-size: 25px;
}
.mid{
	padding-top: 50px;
	height: 200px;
	width: 250px;
	margin-bottom: 15px;
}
.mid img {
	display: block;
	margin: auto;
	transition: .1s transform ease-in-out;
}
