.select {
    position: relative;
    width: 18rem;
    margin-top: 8vh;
    box-sizing: border-box;
}
  
.chosen-value, .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
  
.chosen-value {
    font-family: inherit;
    height: 4rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: rgb(231, 237, 240);
    border: 3px solid transparent;
    transition: .3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
    color: #333;
}
.chosen-value:hover {
    background-color: #FF908B;
    cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
    color: #333;
}
.chosen-value:focus, .chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #FF908B;
    color: #000;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000;
}
  
.value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
    z-index: 3;
}
  .value-list.open {
    max-height: 320px;
    overflow: auto;
}
.value-list li {
    box-sizing: border-box;
    position: relative;
    height: 4rem;
    background-color: #FAFCFD;
    color: black;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;
}
.value-list li:hover {
    background-color: #FF908B;
}
.value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}
  